body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom,
    rgba(248, 250, 248, 0.856),
    rgba(247, 246, 248, 0.818)
    ), url(images/5740648.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  
}

.container {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    margin-top: 0px;
    background-color: #fff;
    padding: 0px;
    border-radius: 0px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }

h1 {
    margin: 10px;
    padding: 10px;
    color: #04cb57;
    text-shadow: 3px 3px 1px black;
    text-align:center;
    font-size: 40px;
  }

#button-users{
    text-align: center;
    margin:auto;
    margin-top: 10px;
    padding: 10px;
    height: 200px;
    float: center;
}

#show-form-btn-1:hover{
    background-color: rgb(171, 170, 170);
}

#show-form-btn-2:hover{
    background-color: rgb(171, 170, 170);
}

#show-form-btn-1:active {
    background-color: gray;
}

#show-form-btn-2:active {
    background-color: gray;
}

  

#myTitle{
    width: 1200px;
    height: 250px;
    margin: 0;
    margin-top: 0px;
    background-color: #fff;
    padding: 0px;
    border-radius: 0px;
    box-shadow: 0px 0px 10px rgba(2, 92, 50, 0.1);
    font-size: 100px;
    margin-left: auto;
    margin-right: auto;
    float: center;
    
}

#form-container-1, #form-container-2 {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    margin-top: 10px;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#note{
    text-align: center;
    margin-top: 0px;
}

